---
import Layout from "../layouts/Layout.astro";
import { frontmatter, Content } from "../pages/me.md";

const fm = frontmatter as { name: string; title: string };
---

<Layout title={fm.name}>
	<header class="w-full h-20">
		<div
			class="flex-1 flex justify-center items-center font-bold text-6xl pt-4"
		>
			{fm.title}
		</div>
	</header>
	<main class="w-[60%] h-80 text-4xl"><Content /></main>
	<footer></footer>
</Layout>
