---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html>
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div class="flex flex-col items-center font-mono gap-8">
			<slot />
			<footer class="mt-6 mb-4 font-mono text-gray-500 text-2xl">
				&copy; 2024 {title} inc
			</footer>
		</div>
	</body>
</html>

<style>
	.dark {
		background: black;
	}
</style>
